
header{ 
  background-color:rgba(2,106,167,1);
  height:60px;
  .header_menu{ 
    margin:auto;
    display:flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: 200px;
    width:100%;
    line-height:60px;
    color:white;
    &_title{
      
        color:white;
    }
    &_inner{
      margin-right:15px;
      list-style: none;
      display:flex;
      .list{
        padding-right:10px;
      }
      a.nav-link{
        padding:0px;
        color:white;
      }
    }
  }
}