<div class="listnewPage">
  <div class="container">
    <%= form_for @list, url: list_index_path, class: "new_list" do |f| %>
      <%if @list.errors.any?  %>
        <p class="text-danger">タイトルの文字数は１〜２５５文字以内で入力してください</p>
      <%end %>
      <%= f.label :title %>
      <%= f.text_field :title,autofocus: true,class:"form-control listName",placeholder:"リスト名" %>
      <div class="text-center"><%= f.submit "作成", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>